body, html {
  text-align: center;
  font-family: 'Open Sans';
}
.map {
  
}
.headers{
  display: none;
}
.loading-container {
  position: absolute;
  height: 50px;
  width: 100px;
  font-size: 28px;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  margin: auto;
  animation: loader 1s infinite forwards;
  overflow: hidden;
  text-align: left;
}

@keyframes loader {
  0% { width: 105px; }
  100% { width: 130px; }
}


.tooltip {
  background-color: white;
  border: 1px solid black;
  width: 250px;
  line-height: 10px;
}

circle {
  stroke: black;
  stroke-width: 0.5px;
}